@charset "utf-8";

* {margin:0; box-sizing:border-box;}


        header {width:100%; height:80px; margin:0 auto; position: fixed; top:0; border-bottom: 0.1px solid rgba(0, 0, 0, 0.2); z-index:1000; background-color:#fff;}
        ul,li,ol {list-style:none; margin:0; padding:0;}
        table, th, tr, td {margin:0; padding:0;}
        hr {width:100%;}

        #logo {width:160px; height:18px; float:left; margin:33px 0 0 60px; padding:0 15px;}
        #logo > a > img {width:160px; height:17px;}

        #login {float:right; width:270px; height:18px; margin:27px 0 0 10px;}
        #login > a {text-decoration:none;}
        #login > a > img {width:20px; height:100%; margin:5px 10px 0 0;}
        #login > a > span {display:block; width:60px; height:88px; background-color:rgba(0,0,0,0.7); float:right;
          margin:-35px 30px 0 0px; padding:38px 5px; text-align:center; color:#fff; font-size: 15px;}


        header > nav {width:800px; height:40px; float:left; padding:10px 20px 0 20px; margin:0 auto; position:absolute; top:50%; left:50%; transform:translate(-50%, -50%);}
        header > nav > ul > li {float:left; }
        header > nav > ul > li > a {text-decoration:none; margin:0 30px 0 30px; font-size:19px; font-weight:bold;
          color:#000; letter-spacing: 1.3px;}
        header > nav > ul > li > a:hover {text-decoration-color:rgba(0,0,0,0.2); font-weight: bold; opacity:0.4 ;}


        body { padding-top: 50px; }

        #sub {width:1220px; height:1350px; margin:0 auto; padding:30px 0; position: relative;}
        
        #sub > #topmenu {width:1220px; height:40px; margin:0 0 0 80px; position: absolute; top:100px; padding:15px 0;}
        #sub > #topmenu > ul > li {float:left; margin:0 5px 0 0; font-size: 14px;}
        #sub > #topmenu > ul > li > a {text-decoration: none; color:rgba(0,0,0,0.75); letter-spacing: 1px;}
        
        #sub_contents {width:1220px; height:950px; margin:50px 0 0 0; padding:10px 0;}
        
        #product {width:550px; height:850px; position: absolute; right:30px; left:65px; margin:50px 0;}
        #product > #topbox {width:520px; height:580px; margin:0 0 10px 15px ;}
        #product > #topbox > img {width:100%; height:100%;}

        #product > #bottombox {width:520px; height:200px; margin:10px 0 0 15px; padding:0 20px;}
        #product > #bottombox > nav {width:520px; height:180px; margin:30px 0px 0 0; position: relative; right:20px;}
        #product > #bottombox > nav > ul > li {float:left; margin:0 20px; text-align: center;}
        #product > #bottombox > nav > ul > li > .boxspan1 {width:50px; height:50px; display: inline-block; line-height: 46px; font-size: 16px; color: #f28c10; font-weight: 900; border: 2px solid #444;border-radius: 50%;background: #fff; text-align: center; margin:10px 0;}

        #product > #bottombox > nav > ul > li > .boxspan2 {width:50px; height:50px; display: inline-block; line-height: 46px; font-size: 16px; color: #444; font-weight: 900; border: 2px solid #444;border-radius: 50%;background: #000; text-align: center; margin:10px 0;}
        #product > #bottombox > nav > ul > li > .boxspan2:hover {cursor: pointer;}

        #product > #bottombox > nav > ul > li > h4 {font-size:17px; padding:5px; margin:0 0 5px 0;}
        #product > #bottombox > nav > ul > li > h5 {font-size:12px; font-weight: 400; margin:10px 0 0 0;}

        #product > #bottombox > nav > ul > li > .boxspan2 > img {width:50%; height:50%;}
        
        #context {width:500px; height:850px; position: absolute; right:75px; margin:50px 0 auto;}
        
        #context > .topicon {width:100%; height:90px; float:left; margin:0 auto; padding:10px 0;}
        #context > .topicon > a > img {width:40px; height:40px; float:left; margin:0 10px 0 0;}
        #context > .topicon > .text {display: inline-block; margin: 0 5px 10px 0; padding: 0 15px; font-size: 16px; color: #444; position: relative; z-index: 1; float:right;}
        #context > .topicon > .text:before {content:""; display:block; width:100%; height:20px; background:#fffadb; position:absolute; top:5px; left:0; z-index:-1;}



        #context > .text {width:100%; height:200px;margin:0;}
        #context > .text > h3 {color:rgba(0,0,0,0.9); margin:20px 0 10px 0; padding:5px 0; font-size:26px;}
        #context > .text > h3 > .span1 {display:inline-block; font-size:14px; margin:0 0 0 5px; color: rgba(0,0,0,0.7); }

        #context > .select {width:100%; height:100px; margin:0;}
        #context > .select > nav {width:100%; height:100px; margin: 5px 0;}
        #context > .select > nav > ul > li .top {float:left; font-size:13px; width:526px; position: relative; text-align: left; margin:10px 0; color:#444;}
        #context > .select > nav > ul > li .top select { width: calc(100% - 100px); height: 23px; line-height: 26px; padding: 0 55px 0 15px; font-size: 13px; color: #222; border: 1px solid rgba(0,0,0,0.4); background: #fff url(img/sub/arrow_down.png) center right 15px no-repeat; appearance: none; vertical-align: middle; margin:0;}
        #context > .select > nav > ul > li .last {float:left; text-align: left; margin:0 18px; font-size:13px; width:526px; position: relative; text-align: left; right:18px; color:#444; padding-top: 5px;}
        #context > .select > nav > ul > li .last select { width: calc(100% - 100px); height: 23px; line-height: 26px; padding: 0 245px 0 15px; font-size: 13px; color: #222; border: 1px solid rgba(0,0,0,0.4);
              background: #fff url(img/sub/arrow_down.png) center right 15px no-repeat; appearance: none; vertical-align: middle; margin:0 20px 0 0;}


        #context > .detail_link {width:100%; height:120px; padding-top: 10px;}
        #context > .detail_link > .box1 {width:100%; height:50px; margin:10px 0 0 0; padding:20px 0;}
        #context > .detail_link > .box1 > img {width:20px; height:25px; margin:0 auto;}
        #context > .detail_link > .box1 > .link_span1 {margin:0 0 0 15px; font-size: 18px; font-weight: bold; display: inline-block; position: relative; bottom:5px;}
        #context > .detail_link > .box1 > .link_span2 {margin:0 15px 0 0; font-size:18px; display: inline-block; position: relative; bottom:5px;}
        #context > .detail_link > .box1 > .arrow {width:18px; height:20px; float: right; margin:3px 0 0 0;}

        #context > .detail_link > .box2 {width:100%; height:50px; margin:10px 0 0 0; padding:10px 0;}
        #context > .detail_link > .box2 > img {width:20px; height:25px; margin:0 auto;}
        #context > .detail_link > .box2 > .link_span1 {margin:0 0 0 15px; font-size: 18px; font-weight: bold; display: inline-block; position: relative; bottom:5px;}
        #context > .detail_link > .box2 > .link_span2 {margin:0 15px 0 5px; font-size:18px; display: inline-block; position: relative; bottom:5px;}
        #context > .detail_link > .box2 > .arrow {width:18px; height:20px; float: right; margin:3px 0 0 0;}


        #context > .color {width:100%; height:140px;}
        #context > .color > .color1 {font-size:15px; margin:10px 0 auto; display: inline-block;}
        #context > .color > .color2 {font-size:15px; margin:0 0 0 5px; display: inline-block; font-weight: bold;}

        #context > .color > .color3  {width:220px; height:80px; display: inline-block; line-height: 126px; border: 2px solid #000;border-radius: 10px; background: black; text-align:left; margin:20px 0;}
        #context > .color > .color3 > a {text-decoration: none; color:#fff;}
        #context > .color > .color3 > a > .color4 > img {width:50px; height:40px; margin:15px;}
        #context > .color > .color3 > a > .color5 {width:100px; height:50px; font-size: 15px; color:#fff; position: relative; left:0px; bottom:28px; letter-spacing: 0.2px; word-spacing: 0.7px;}
        



        #context > .total {width:100%; height:140px;}
        #context > .total > hr {position: relative; top:30px; width: 100%; color:#666;}
        #context > .total > p {float:left; width:70px; height:25px; margin:55px 0; font-size: 20px;}
        #context > .total > h1 {float: right; background-color: white; margin:45px 0; font-size: 30px;} 
        #context > .total > h1 > .total1 {float: right; display: inline-block; font-size: 20px; padding:10px 0; font-weight: 400;}

        #context > .context_button {width:100%; height:140px; margin:0 auto;}
        #context > .context_button > input[name="button1"] {width:210px; height:40px; display: inline-block; line-height: 38px; border: 1px solid #666; border-radius: 30px; background: #fff; 
          text-align:center; margin:20px 0; cursor:pointer; font-size: 18px;}
        #context > .context_button > input[name="button2"] {width:210px; height:40px; display: inline-block; line-height: 38px; border: 1px solid #666; border-radius: 30px; background: #fff; 
          text-align:center; margin:20px 37px; cursor: pointer; background: #111; color:#fff; font-size: 18px;}
        

        #sub > .production {width:1070px; height:350px; margin:0 auto;}
        #sub > .production > h1 {margin:30px auto 20px auto; font-size: 26px;}
        #sub > .production > .production_img {width:203px; height:250px; background-color: violet; margin:30px 5px; float:left; text-align: center; position: relative;}
        #sub > .production > .production_img > img {width:100%; height:100%;}
        
        #sub > .production > .production_img > .textbox {width: 100%; height: 100%; font-size: 14px; background-color: rgba(0, 0, 0, 0); text-align: center; font-weight: bold;position: absolute; top: 0; left: 0; transition: all 0.5s ease; opacity: 0;}
        #sub > .production > .production_img > .textbox:hover {background-color: rgba(87, 87, 87, 0.85); opacity: 1; color:#000;}
        #sub > .production > .production_img > .textbox > a {text-decoration: none;}

        #sub > .production > .production_img > .textbox > a > h6 {font-size: 15px; background-color: rgba(0, 0, 0, 0); text-align: center; font-weight: bold; margin:40px 0 0 0;
          color:#fff;}
        

        #sub > .production > .production_img > .textbox > a >  p {color:#fff; text-align:center; margin:10px 0 80px 0px; font-weight:bold; font-size:13px; line-height:200%; position:absolute; top:80px; left:0; display:inline-block; text-align:center; width:100%;}




        #info {width:100%; height:3900px;margin:0 auto; position:relative;}
        #detail {width:1050px; height:3900px; margin:0 auto; position:relative;}

         #info > #tap {margin:0 auto; width:1050px; position: relative; top:25px;}
         #info > #tap > nav {width:1050px; height:70px; padding:10px 0; margin:40px 0 auto;}
         #info > #tap > nav > ul > li {width:262px; height:100%; background-color:rgba(235,235,235,0.4); float:left; text-align:center; padding:15px 0 0 0px; font-size:16px; border:1px solid #ddd; border-bottom:1px solid #666; padding-bottom: 15px;}
         #info > #tap > nav > ul > li:first-of-type {background-color: #fff; border-bottom:none; padding-bottom: 16px;}
         #info > #tap > nav > ul > li > a {text-decoration: none; color:#666;}
         #info > #tap > nav > ul > li > a > .color {color:orange;}

         #detail > .first_d {width:1050px; height:1250px; margin:0 auto; padding:30px 0;}
         #detail > .first_d > img {width:1000px; height:700px; margin:50px 30px;}
         #detail > .first_d > h1 {font-size:37px; text-align: center; font-weight: bold; margin:0 auto;}
         #detail > .first_d > h4 {margin:35px 0 auto ; font-size:18px; padding:0 30px;}
         #detail > .first_d > .dspan1 {margin:10px 0 10px 0; font-size:14px; padding:5px 30px; display:inline-block; color:rgba(0,0,0,0.7); line-height: 23px;}

         #detail > .second_d {width:1050px; height:550px; margin:10px 0 auto;}
         #detail > .second_d > .first_img {width:1000px; height:550px; float:left;}
         #detail > .second_d > .first_img > h3 {margin:0 0px 10px 30px; font-size:34px;}
         #detail > .second_d > .first_img > img {width:450px; height:300px; float:left; margin:10px 0 0 30px; position: relative; border:1px solid #ddd;}
         #detail > .second_d > .first_img > p {padding:30px 50px; margin:0 110px 0 50px; float:left; font-size:18px; text-align: center; position: relative; left:40px;
                                              color: rgba(0,0,0,0.75);}

         #detail > .second_c {width:1050px; height:650px; margin:0 auto;}
         #detail > .second_c > .second_img {width:1000px; height:250px; float:left;}
         #detail > .second_c > .second_img > h3 {margin:0 0px 10px 30px; font-size:34px;}
         #detail > .second_c > .second_img > img {width:930px; height:400px; float:left; margin:10px 0 0 30px; position: relative; border:1px solid #ddd; }
         #detail > .second_c > nav {width:740px; height:40px; margin:10px 0 0 30px; position: relative; top:230px;}
         #detail > .second_c > nav > ul > li {margin:5px 0; text-align: left; font-size: 14px; letter-spacing: 0.5px; color:rgba(0,0,0,0.75); line-height: 20px;}

         #detail > .third_d {width:1050px; height:950px; margin:0 auto; }
         #detail > .third_d > h1 {width:1050px; height:70px; margin:30px 0 auto; text-align: center; font-size: 34px;}
         #detail > .third_d > .box {float:left; width:350px; height:300px; padding:0 30px; margin:110px 0 0 0; position: relative; bottom:70px;}
         #detail > .third_d > .box > img {width:100%; height:300px;}
         #detail > .third_d > .box > .textbox {width:100%; height:100px; font-size: 13px; color:#333; margin:10px 0; line-height: 20px; text-align: left;}

         #detail > .last_d {width:1050px; height:500px; margin:0 auto;}
         #detail > .last_d > h1 {text-align: center; font-size: 28px; margin:80px 0 auto; color:#111; letter-spacing: 1px; border-bottom:1px solid #c0c0c0; padding-bottom: 25px;}
         #detail > .last_d > nav {width:1050px; height:300px; margin:0; padding:20px 30px;}
         #detail > .last_d > nav > ul > li {font-size: 17px; margin:10px 0; font-weight: 600; color:rgba(0,0,0,0.8); letter-spacing: -1px;}
         #detail > .last_d > nav > ul > li > .gray {font-size:14px; color:#333; font-weight: 400; color:rgba(0,0,0,0.6); line-height: 35px;}
         #detail > .last_d > p {margin:0px 0 20px 0; padding:90px 30px; font-size: 14px; color:#666; line-height: 23px;}


         #info2 {width:100%; height:1100px; margin:20px 0 auto; position:relative;}
         #detail2 {width:1050px; height:1100px; margin:0 auto; position:relative;} 

         #detail2 > .top > h1 {text-align: center; font-size: 28px; margin:360px 0 auto; color:#111; letter-spacing: 2px; border-bottom:1px solid #c0c0c0; padding-bottom: 25px;}
         

         #detail2 > .box1 {width:1050px; height:150px; margin:40px 0 0 0;}
         #detail2 > .box1 > h2 {display: inline-block; margin:20px 30px; font-size: 20px; letter-spacing: -1px; word-spacing: -0.5px;}
         #detail2 > .box1 > p {font-size:14px; margin:5px 30px; letter-spacing: -0.5px; color:rgba(0,0,0,0.6); line-height: 20px;}
         #detail2 > .box1 > p > .red {color:red;}
        


         #detail2 > .box2 {width:1050px; height:250px; margin:0 auto;}
         #detail2 > .box2 > h2 {display: inline-block; margin:20px 30px; font-size: 20px; letter-spacing: -1px; word-spacing: -0.5px;}
         #detail2 > .box2 > p {font-size:14px; margin:5px 30px; letter-spacing: -0.5px; color:rgba(0,0,0,0.6); line-height: 20px;}
         #detail2 > .box2 > p > .red {color:red;}
        

         #detail2 > .box3 {width:1050px; height:200px; margin:0 auto;}
         #detail2 > .box3 > h2 {display: inline-block; margin:20px 30px; font-size: 20px; letter-spacing: -1px; word-spacing: -0.5px;}
         #detail2 > .box3 > p {font-size:14px; margin:5px 30px; letter-spacing: -0.5px; color:rgba(0,0,0,0.6); line-height: 20px;}
         #detail2 > .box3 > p > .red {color:red;}
     

         #detail2 > .box4 {width:1050px; height:220px; margin:0 auto;}
         #detail2 > .box4 > h2 {display: inline-block; margin:20px 30px; font-size: 20px; letter-spacing: -1px; word-spacing: -0.5px;}
         #detail2 > .box4 > p {font-size:14px; margin:5px 30px; letter-spacing: -0.5px; color:rgba(0,0,0,0.6); line-height: 20px;}
         #detail2 > .box4 > p > .red_line {color:red; text-decoration: underline; text-decoration-color: red; text-underline-position: under;}
    

         #detail2 > .box5 {width:1050px; height:200px; margin:0 auto;}
         #detail2 > .box5 > h2 {display: inline-block; margin:20px 30px; font-size: 20px; letter-spacing: -1px; word-spacing: -0.5px;}
         #detail2 > .box5 > p {font-size:14px; margin:5px 30px; letter-spacing: -0.5px; color:rgba(0,0,0,0.6); line-height: 20px;}

         #info3 {width:100%; height:1460px; margin:20px 0 auto; position:relative;}
         #detail3 {width:1050px; height:1460px; margin:0 auto; position:relative;}

         #detail3 > .top > h1 {text-align: center; font-size: 28px; margin:170px 0 auto; color:#111; letter-spacing: 2px; border-bottom:1px solid #c0c0c0; padding-bottom: 30px;}

         #detail3 > #photo_review {width:1050px; height:300px; margin:40px 0 0 0;}
         #detail3 > #photo_review > h4 {font-size:25px; float:left; margin:0 auto; padding:5px 0;}
         #detail3 > #photo_review > button {float:right; margin:15px 0 auto; width:60px; height:25px; border:1px solid #fff; border-radius: 15px; cursor: pointer; background-color: white;}
         #detail3 > #photo_review > button:hover {opacity: 0.8; color:orange;}
         #detail3 > #photo_review > nav {width:1050px; height:180px; margin:0; padding:50px 0;}
         #detail3 > #photo_review > nav > ul > li {float:left; width:165px; height:160px; margin:20px 10px 0 0;}
         #detail3 > #photo_review > nav > ul > li > a {text-decoration:none;}
         #detail3 > #photo_review > nav > ul > li > a > img {width:100%; height:100%; overflow:hidden;}
         #detail3 > #photo_review > nav > ul > li > a > img:hover {opacity: 0.6;}
 
         #detail3 > #text_review {width:1050px; height:1000px; margin:20px 0 0 0;}
         #detail3 > #text_review > h4 {font-size:25px; float:left; margin:0 auto; padding:5px 0;}
         #detail3 > #text_review > button {float:right; margin:10px 0 auto; width:100px; height:30px; border:1px solid #fff; border-radius: 15px;}
         #detail3 > #text_review > button > a {text-decoration: none; color:#666; cursor: pointer;}
         #detail3 > #text_review > button:hover {opacity: 0.8;}


        .review_table {width:1050px; height:800px; float:left; margin:40px; position: relative;}

        .review_table >  table td {margin:20px 0 auto; padding:0; display: inline-block;}
      
        .review_table >  table td:first-of-type {width:60px; text-align: left; color:rgba(0,0,0,0.5); font-size: 13px; border-top:1px solid #c0c0c0; padding-top: 13px; }

        .review_table > table td:nth-of-type(2) {width:10px; text-align:left; color:rgba(0,0,0,0.5); position: relative; font-size: 13px; border-top:1px solid #c0c0c0; padding-top: 13px;}

        .review_table > table td:nth-of-type(3) {width:90px; text-align:left;  color:rgba(0,0,0,0.5); font-size: 13px; border-top:1px solid #c0c0c0; padding-top: 13px;}

        .review_table > table td:nth-of-type(4) {width:725px; text-align:left; color:rgba(0,0,0,0.5); border-top:1px solid #c0c0c0; font-size: 13px; padding-top: 13px;}

        .review_table > table td:nth-of-type(4) > .star {color:#000;}

        .review_table > table td a {text-decoration: none; width:151px; float:right; position: relative; border-top:1px solid #c0c0c0; font-size: 13px; padding-top: 10px;
        color:#666;}

        .review_table > table td a:hover {color:#111;}

        .review_table > table th {width:150px; text-align: left; font-weight: 400; font-size: 15px; color:rgba(0,0,0,0.7); margin:0; padding:15px 0 0 0;} 

        .review_table > table {position: absolute; padding:40px 0; width:1050px; height:500px;}

        #page {width:1050px; height:50px; position: relative;}
        #page > .page_skip {margin:0 330px; width:1050px;}
        #page > .page_skip a {width:25px; height:25px; display: inline-block; line-height: 20px; font-size: 12px; color: #666; font-weight: 900; border: 1px solid #ddd;border-radius: 50%;background: #fff; text-align: center; margin:10px 10px; float:left; text-decoration: none; position: relative;}

        #info4 {width:100%; height:880px; margin:20px 0 auto; position:relative;}
         #detail4 {width:1050px; height:880px; margin:0 auto; position:relative;}

          #detail4 > .top > h1 {text-align: center; font-size: 28px; margin:170px 0 auto; color:#111; letter-spacing: 2px; border-bottom:1px solid rgba(0, 0, 0, 0.3); padding-bottom: 30px;}

          #detail4 > #qa {width:1050px; height:70px; }
          #detail4 > #qa > h6 {float:left; margin:30px 0 auto; font-size: 25px;}
          #detail4 > #qa > h5 {float:right; margin:30px 0 auto; font-size:20px;}
          #detail4 > #qa > h5 > a {text-decoration: none; color:#333;}
          #detail4 > #qa > h5 > a:hover {color:#000;}

          #detail4 > .qa_table {width:1050px; height:700px;}

        .qa_table >  table td {margin:20px 0 auto; padding:0; display: inline-block;}

        .qa_table >  table td > .answer {color:rgba(255, 150, 37, 1); font-weight: bold;}

        .qa_table >  table .last {border-bottom:1px solid #c0c0c0; padding-bottom: 15px;}
      
        .qa_table >  table td:first-of-type {width:60px; text-align: center; color:rgba(0,0,0,0.5); font-size: 14px; border-top:1px solid #c0c0c0; padding-top: 15px; }

        .qa_table > table td:nth-of-type(2) {width:600px; text-align: left; font-size: 14px; border-top:1px solid #c0c0c0; padding-top:15px;}

        .qa_table > table td:nth-of-type(2) > img {width:10px; height:10px; margin:5px 5px 0 0;}

        .qa_table > table td:nth-of-type(3) {width:146px; text-align: center; font-size: 14px; border-top:1px solid #c0c0c0; padding-top:15px;}

        .qa_table > table td:nth-of-type(4) {width:120px; text-align: center; font-size: 14px; border-top:1px solid #c0c0c0; padding-top:15px;}

        .qa_table > table td:last-of-type {width:120px; text-align: center; font-size: 14px; border-top:1px solid #c0c0c0; padding-top:15px;}


        
        .qa_table > table th {display: inline-block; margin:20px 0 auto;}
        
        .qa_table > table th:first-of-type {width:60px; text-align: center; font-size: 14px; border-top:1px solid #666; padding-top:15px;}

        .qa_table > table th:nth-of-type(2) {width:600px; text-align: center; font-size: 14px; border-top:1px solid #666; padding-top:15px;}

        .qa_table > table th:nth-of-type(3) {width:146px; text-align: center; font-size: 14px; border-top:1px solid #666; padding-top:15px;}

        .qa_table > table th:nth-of-type(4) {width:120px; text-align: center; font-size: 14px; border-top:1px solid #666; padding-top:15px;}

        .qa_table > table th:last-of-type {width:120px; text-align: center; font-size: 14px; border-top:1px solid #666; padding-top:15px;}



        .qa_table > table {position: absolute; padding:20px 0; width:1050px; height:500px;}

        #page2 {width:1050px; height:50px; position: relative;}
        #page2 > .page_skip {margin:0 390px; width:1050px;}
        #page2 > .page_skip a {width:25px; height:25px; display: inline-block; line-height: 20px; font-size: 12px; color: #666; font-weight: 900; border: 1px solid #ddd;border-radius: 50%;background: #fff; text-align: center; margin:10px 10px; float:left; text-decoration: none; position: relative;}

      





      .navbox > nav {width:900px; height:35px; margin:10px auto 0; padding:0 75px;}
      .navbox > nav > ul > li {float:left;}
      .navbox > nav > ul > li > a {text-decoration:none; color:#000; font-size:15px; margin:10px 10px 0 10px;}
      .navbox > nav > ul > li > a:hover {opacity: 0.5; font-weight: bold;}











        

        footer {width:100%; height:340px; background-color:lightslategray; margin:0 auto;}

        footer > #leftbox {width:55%; height:100%; background-color: rgba(0,0,0,0.65); margin:0; float:left;}
        footer > #leftbox > p {font-size:12px; color:rgba(255,255,255,0.8); margin:10px 0 0 30px; padding:20px; line-height: 23px;}
        footer > #leftbox > h1 {font-size:20px; color:rgba(255,255,255,0.85); margin:60px 0 0 30px; padding:20px;}

        footer > .rightbox {width:22.5%; height:100%; background-color:rgba(0,0,0,0.75); margin:0; float:left;}
        footer > .rightbox > h4 {margin:80px 0 0 30px; color:rgba(255,255,255,0.9); font-size:20px;}
        footer > .rightbox > h1 {margin:10px 0 0 30px; color:rgba(255,255,255,0.8); font-size:25px;}
        footer > .rightbox > p {margin:10px 0 0 30px; font-size:12px; font-weight:500; color:rgba(255,255,255,0.9);}

        footer > #rightbox2 {width:22.5%; height:100%; background-color:rgba(0,0,0,0.85); margin:0; float:left;}
        footer > #rightbox2 > #selectbox {width:100%; height: 100px;} 
        footer > #rightbox2 > #selectbox > select {width:70%; height:50%; line-height: 50px; margin-bottom: 80px; padding-right: 55px; font-size: 18px; color: #e3e3e3; font-weight: bold; border-bottom: 1px solid #d00000; background: #D90000 url(img/footSelect_down.png) center right 2px no-repeat; appearance: none; display: inline-block; -webkit-writing-mode: horizontal-tb !important; text-rendering: auto; margin:67px 0 0 50px; border-left: none; border-top:none; border-right: none;}
        footer > #rightbox2 > #selectbox > select > option {background-color: #fff; color:#000;}

  	    footer > #rightbox2 > nav {width:350px; height:200px; margin:40px 0 auto;}
        footer > #rightbox2 > nav > ul {text-align:right; padding-left: 40px;}
        footer > #rightbox2 > nav > ul > li {width:35px; height:25px; margin:10px 10px 0 10px; float:left;}
        footer > #rightbox2 > nav > ul > li > a > img {width:100%; height:100%;}